.source_card_container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
    max-width: 220px;
    flex-grow: 1;
    margin: 3rem 12px;
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px gray;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, rgb(202, 6, 202), #20e0e0) border-box;
    border-left: 8px solid transparent;

    .most_popular {
        position: absolute;
        background-color: rgb(24, 24, 89);
        color: white;
        padding: 4px 24px;
        font-weight: 600;
        font-size: 15px;
        border-radius: 10px 10px 0px 0px;
        left: 0px;
        top: -26px;
    }

    .divider {
        background-color: #e5e5e5;
        height: 1.1px;
    }

    .initial_detail {
        padding-bottom: 22px;

        .you_pay {
            color: rgb(148, 0, 148);
        }

        .year_rate {
            color: rgb(212, 4, 212);
            font-size: 22px;
            font-weight: 700;
            margin: 3px 0px;

            span {
                font-size: 14px;
                padding-bottom: 8px;
                font-weight: 500;
            }
        }

        .vat_rates {
            color: #646464;
            font-size: 13px;
        }
    }

    .power_plan_detail {
        padding: 22px 0px;
        color: #00c8c8;

        .you_get {
            font-size: medium;
        }

        .plan_price {
            font-size: 22px;
            font-weight: 700;
        }
    }

    .storage_detail {
        padding: 22px 0px;

        .flex {
            position: relative;
            display: flex;
            align-items: flex-end;
            padding-bottom: 6px;

            .old_price {
                color: #cdcdcd;
                padding-right: 6px;
                font-size: 20px;
            }

            .cross_line {
                position: absolute;
                color: #cdcdcd;
                left: 5px;
                bottom: 3px;
                font-size: 28px;
                transform: rotate(-40deg);
            }

            .gb_detail {
                padding-right: 28px;
                font-size: 22px;
                font-weight: 700;
            }

            .desc_detail {
                color: black;
                font-size: 14px;
            }

        }
    }

    .plan_details {
        height: 288px;
    }

    .solo_plan_details {
        height: 200px;
    }

    .limited_offer {
        padding: 22px 0px;

        .title {
            font-size: 13px;
            color: white;
            background: linear-gradient(to left, rgb(244, 27, 244), rgb(136, 9, 136)) border-box;
            width: fit-content;
            padding: 2px 10px;
            border-radius: 12px;
            margin-bottom: 8px;
        }

        .offer_detail {
            font-size: 14px;
            font-weight: 700;

            span {
                font-weight: 400;
            }
        }
    }

    .btn_container {
        padding: 22px 0px 0px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .qoute {
            text-decoration: underline;
            font-size: 16px;
        }
    }

}

ul {
    margin: 22px 0px;
    padding: 0px;
    list-style: none;

    li {
        font-size: 15px;
        padding-bottom: 14px;
    }
}

ul li:before {
    content: '✓  ';
}

.btn {
    cursor: pointer;
    padding: 12px 3rem;
    background-color: white;
    width: fit-content;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 6px;
    color: rgb(186, 4, 186);
    font-size: large;
    font-weight: 400;
}